:root {
    --primary: rgb(82, 13, 146);
    --secondary: rgb(206, 169, 223);
    --tertiary: rgb(206, 169, 223);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.btn {
    height:40px; 
    width:100px; 
    justify-content: center;
    margin: 0 auto;
    background-color: var(--primary);
    color: #fff;
    border-radius: 15px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary);
    box-shadow: 0 2px rgb(216, 214, 214);
}

.top-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100 vw;
    height: auto;
    padding: auto;
    margin: 20px;
}

.top-container a {
    text-decoration: none;
    color:var(--secondary);
}

.top-container button {
    height: 40px;
    width: auto;
    padding: 0;
    background-color: #fff;
    color: var(--secondary);
    border-color: #fff; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 50 vh;
    width: 100 vw;
    margin: auto;
    padding: auto;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 40%;
    padding-bottom: 15px;
}

.container h1 {
    text-align: center;
}

.container p {
    text-align: center;
}

.container button {
    height:40px; 
    width:100px; 
    justify-content: center;
    margin: 0 auto;
    background-color: var(--primary);
    color: #fff;
    border-radius: 15px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif
}





.quiz-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50 vh;
    width: 100 vw;
    margin: auto;
    padding: auto;
}

.quizContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    width: 40%;
    padding-bottom: 15px;
}

.quizContent h1 {
    color: rgb(0, 0, 0);
    margin: 15 auto;
    text-align: center;
}

.quiz-answers {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-bottom: 10px;
}

.quiz-answers button {
    height: 40px;
    width: auto;
    position:relative;
    margin: 0 auto;
    background-color: var(--primary);
    color: #fff;
    border-radius: 15px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.submitScore {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50 vh;
    width: 100 vw;
    margin: auto;
    padding: auto;
}

.done {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.done h1 {
    text-align: center;
    margin: 0%;
    padding: 0%;
}

.done p {
    text-align: center;
}


.initials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.initials p {
    text-align: center;
}

.initials input {
    align-content: center;
}




.highScores {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50 vh;
    width: 100 vw;
    margin: auto;
    padding: auto;
}

.highScoresLi {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
}

.highScoresLi h1 {
    text-align: center;
}

.highScoresLi ol li {
    text-align: left;
    background-color: var(--secondary);
}

.hsBtn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn {
    height:40px; 
    width:100px; 
    justify-content: center;
    margin: 0 auto;
    background-color: var(--primary);
    color: #fff;
    border-radius: 15px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}